body {
  font-family: "Nunito", sans-serif;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../media/Wine\ Greeting.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1500px;
  margin: 0 auto;
  color: aliceblue;
  font-size: 40px;
  text-align: center;
  padding: 100px 0;
}
.content {
  font-size: 22px;
}

button {
  padding: 10px;
  border-radius: 6px;
  font-size: 16px;
}
footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../media/vineyard.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  color: aliceblue;
  text-align: center;
}

footer ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

footer a:link,
a:visited {
  color: aliceblue;
}
.footerContainer {
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.github {
  padding: 20px;
  text-align: center;
}
@media (max-width: 800px) {
  header {
    padding: 30px 0;
    height: 250px;
  }
  header h1 {
    font-size: 30px;
  }

  header h2 {
    font-size: 24px;
  }

  button {
    font-size: 12px;
  }
} ;
